html {
    font-size: 62.5%
}

body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contenedor {
    width: 60rem;
    height: 40rem;
    background-color:cornflowerblue;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-content: center;
    row-gap: 2rem;
    padding: 2rem;
}

.casilla {
    background-color: rgb(231, 225, 225); 
    width: 15rem;
    border: 2px solid black;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: white;
        cursor: pointer;
    }
}

button {
    border: none;
    border-radius: 1rem;
    background-color: gray;
    padding: 1rem 3rem;
    margin: 2rem;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.5rem;

    &:hover {
        background-color: whitesmoke;
        border: 2px solid gray;
        color: gray;
        cursor: pointer;
    }
}